<h2>{{ title }}</h2>
<img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDFyZnhnYWczZG04MmQwcW9pcXRqZmJxY2drbzV2OXExNHFtdmZ1dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kH6CqYiquZawmU1HI6/giphy.gif">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec nisl et elit dignissim cursus malesuada ac erat. Duis ac est at mauris euismod tempus. Curabitur a tristique est, a lacinia quam. Nulla finibus turpis in mauris consequat, vel placerat dolor fermentum. Vivamus ac tellus finibus, venenatis sapien mattis, interdum tellus. Phasellus lacinia metus ac fringilla dictum. In mollis tincidunt eros ut rutrum.</p>
